#contenido{
  margin-top: 2em;
  margin-bottom: 4em;
}
#contenido button{
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2em;
}
h1{
  text-align: center;
}
.inputsInformacion{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2em;
}
table{
  text-align: center;
}
#boton-modificar{
  background-color: dodgerblue;
  color: white;
}
#boton-eliminar{
  background-color: darkred;
  color: white;
}

